boto3
awscli
pypdf
langchain
streamlit
faiss-cpu
langchain_community
requests
numpy
unstructured
fastapi
uvicorn
jinja2
openai
starlette
itsdangerous
python-multipart
pydub
vertexai
noisereduce
mangum
logging
apscheduler
librosa